.Users {
  min-height: 100%;
  background-color: rgb(246, 247, 249);
  padding-top: 1px;
  margin-top: -1px;

  .UserChooser {
    display: flex;
    width: 40%;
    min-width: fit-content;
    margin: 2rem auto;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 0.2rem;
    background-color: #ffff;
    box-shadow: -0rem 0rem 0.15rem grey;
    font-size: 0.9rem;

    .typeholder {
      padding: 0.8rem 0.5rem;
      border-radius: 5%;
      font-size: 500;
      cursor: pointer;
      color: #476282;
      position: relative;

      .underline {
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        right: 0;
        height: 0.2rem;
        background: #1967d2;
      }

      &.active {
        color: #1967d2;
      }
    }
  }
  .UserInfoTable {
    width: 60rem;
    max-width: 95%;
    margin: auto;
    height: 40rem;
    background-color: white;
    box-shadow: 0 0 0.1rem grey;
    overflow-y: scroll;
    height: fit-content;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}
