.Users {
  min-height: 100%;
  background-color: rgb(246, 247, 249);
  padding-top: 1px;
  margin-top: -1px;

  .UserChooser {
    width: 80%;
    margin: 4rem auto;

    height: 10rem;
    background-color: aqua;
  }
}
